/* Add global styles here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.list-group-item {
  background-color: #f8f9fa;
  margin-bottom: 10px;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ced4da;
}
